

/*=======================
this is the css unique to page-id-91
========================*/

.page-id-91{


/*=======================
this is the first banner section under the header
========================*/


.picture-wrapper-contact{

    display:flex;
    background:url('../../assets/images/get-involved-header.png')center bottom;
    height:200px;
    align-items:center;
    justify-content:center;
    padding-bottom:20px;
    margin-bottom: 4px;
    flex-direction:column;
    
}

.picture-wrapper-contact h1{
   line-height:3.5rem;
    color:white;
    font-size:44px;
    margin-bottom:0;
    text-align:center;
    text-transform:uppercase;

}

.picture-wrapper-contact p{
    color:white;
    font-family:'montserrat';
    font-weight:200;
    margin-top:0;
    
}

/*=======================
this is the CONTACT PERSON INFO
========================*/


.contact-person-section{
  
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items:center;
     flex-direction:column;
    justify-content:center;
      @include desktop {
flex-direction:row;
    
    }

}

.contact-person-image{
    padding-top:30px;
    padding-right:35px;
}

.contact-person-data{
    line-height:1.3;
    text-align:center;
        @include desktop {
    text-align:left;
    
    }
}


.contact-person-data h2{
    text-transform:uppercase;
    margin-top:0;
    margin-bottom:0;
   font-size:36px;
    font-family:'montserrat';
    font-weight: bold;
    color: #303b46;
}

.contact-person-data  p{
    font-family:'montserrat';
	font-size: 20px;
	font-weight: 300;
    color: #303b46;
    margin-bottom:0;
    margin-top:0;
}

/*=======================
CONTACT FORM 7
========================*/


.contact-form-area{
    
	background-color: #5a6f83;
    padding-top:20px;
}

.contact-form-area h2{
    text-align:center;
    text-transform:uppercase;
    	font-family: 'montserrat';
	font-size: 36px;
	font-weight: bold;
    color:white;
       margin-top:0;
    margin-bottom:0;
}


input[type="text"],
input[type="email"],
input[type="tel"],{
    background-color: #dee2e6;
    border:none;
	height: 50px;
	border-radius: 10px;
    width:60%;
    
          @include desktop {
width:100%;
    
    }
    
}
input[type=submit] {
    background-color: #5a6f83;
    color: white;
    cursor: pointer;
    padding: .65rem 2.5rem;
    border: 1;
    border-radius: 25px;
    font-family:'montserrat', sans-serif;
    font-size: 18px;
	font-weight: 300;
    box-shadow:none;
    line-height: 1.2;
    border-width:2px;
    border-color:white;
    width: 144px;
	height: 50px;
  


}

textarea {
	height: 275px;
	border-radius: 10px;
	background-color: #dee2e6;
    font-family:'montserrat';
    font-weight:100;
    color:#5a6f83;
    width:275px;
       @include desktop {
    width:110%;
    
    }
    
   
}

input[placeholder] {
   font-family:'montserrat';
   font-weight:100;
   color:#5a6f83
}

.wpcf7-form {
       display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
   
    flex-direction:column;
    
 
   
         @include desktop {
         display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
   flex-wrap: row-wrap;
    flex-direction:row;
    align-self:center;
    align-items:center;
    justify-content: center;
    
    
    }

}


.message-field{
    
    width:40%;
    padding-top:1%;
     @include desktop {
      padding-left:10%;
  
    
    }

}
.submit-field{
    text-align:center;

}




/*=======================
MAP AREA
========================*/


.directions-area{
	height: 540px;
	background-color: #303b46;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;


}
.directions-area p {
    color:white;
}


.directions-area h2 {
    color:white;
    text-transform:uppercase;
    font-size:36px;
    margin-bottom:10px;
}

.google-map{

margin-left:4%;
}



.email-contact{

padding-top:20px;

}

.address{

padding-left:5%;
    font-family:'montserrat';
    font-weight: 300;
    padding-bottom:5%;

}

.address p{
    margin-top:0;
    margin-bottom:0;
    font-family:'montserrat';
    font-weight: 300;
}
/*=======================
NEWLETTER SIGN-UP AREA
========================*/

.newsletter-sign-up{
	background-color: #dee2e6;


}

.newsletter-sign-up h2{
	
font-family: 'montserrat';
	font-size: 36px;
	font-weight: bold;
    color: #303b46;
    text-transform:uppercase;
    padding-top:5%;
    margin-top:0;
    justify-content:center;
    margin-left:9%;
    margin-bottom:0;
    

}


.sign-up-text{
display:flex;
flex-direction:column;
margin-left:9%;
padding-bottom:5%;
  @include desktop {
    
flex-direction:row;

    
    }


}

.sign-up-text-request p{
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin-top:0;
    margin-bottom:0;
    font-family: 'montserrat';
	font-weight: 300;
   

}

.input-and-button{
display:flex;
flex-direction:column;
    padding-left:0%;
    padding-top:10px;
      @include desktop {
    display:flex;
padding-left:5%;
flex-direction: row;

    
    }
}

.sign-up-email{
margin-left:0%;
    @include desktop {
 margin-left:5%;

    
    }

}

.sign-up-button{


  @include desktop {
    padding-left:5%;

    
    }
}

#your-email-input{
    background-color:white;
    width:250px;
}



    #subscribe-newsletter{
    background-color:#383B4C;;
    color: white;
    cursor: pointer;
    padding: .5rem 2rem;
    border: 1;
    border-radius: 25px;
    font-family: 'montserrat';
    font-weight:100;
    font-size: 0.8rem;
    box-shadow:none;
    line-height: 1.2;
    border-width:0px;
    width: 162px;
    
    }
}