.page-template-faq {
    .qa-section {
        display: flex;
        flex-direction: column;
        background-color: navy;
        .questions {
            color: green;
            &:hover{
                color: green;
             }
        }
        .answer {
            color: blue;
            display: none; 
        }
    }
}