

.first-column{
@include desktop {
    display:flex;
    flex-direction:row;
    
}
}


.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

.footer-section {
    background-color: #5a6f83;
    color: white;
 
    
}

.footer-section span {
    text-transform: uppercase;
}

.footer-section a {
    color: white;
    text-decoration: none;
    font-family: 'montserrat';
}

.footer-section a:hover {
    color: midnightblue;
}


.footer-content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
         @include desktop {
    
    display: flex;
    flex-direction: row;
   padding-left:10%;
   padding-right:10%;
    
    }
 }

.footer-section {
    background-color: #5a6f83;
    color: white;
}

.footer-section span {
    text-transform: uppercase;
}

.footer-section a {
    color: white;
    text-decoration: none;
    font-family: 'montserrat';
}

.footer-section a:hover {
    color: midnightblue;
}


.about-best {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0.5rem;

             @include desktop {
   width:70%;
   padding-left:5%;
   padding-right:5%;
   align-items:flex-start;
   padding-bottom:100px;

    }
}

.footer-social {
    height: 50px;
    background: #383B4C;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-social i {
    color: white;
    padding: 1rem;
}

.footer-social i:hover {
    color: midnightblue;
}

.para-heading p {
    font-family: 'montserrat';
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    padding: 0 1rem;
    @include desktop {
  margin-top:0;
  margin-bottom:0;

    }
}

.para-heading p:first-child {
    flex-direction: row;
    @include desktop {
    padding-left:0;
    padding-bottom:10px;
    justify-content: flex-start;
    }
}

.para-heading span {
    padding-left: 10px;
}

.para-heading a {
    font-family: 'montserrat';
    font-weight: 300;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

para-content {
    margin: 0;
}

.para-content p {
    font-family: 'montserrat';
    font-weight: 200;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    @include desktop {
    text-align: left;
    
  
    }
}

.logo-image i {
    font-size: 2rem;
}



.commuterChallenge-contact-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
          @include desktop {
    justify-content:flex-start;
    padding-top:30px;
    
   }
}

.commuterChallenge-contact-logos i {
    padding: 5px;
        @include desktop {
    
    font-size:24px;
   }
}

.contact-us {
    padding-bottom: 0.8rem;
       @include desktop {
    padding-bottom:50px;
    padding-right:5%;
   }
}

.questions {
    padding-bottom: 0.8rem;
       @include desktop {
    line-height: 0.8;
   }

.questions p{
    @include desktop {
    margin-bottom:0;
   }
}


}

.newsletter-subscription {
    
     @include desktop {
    
    text-align: left;
   }
}


/*=======================
FORM at bottom of footer
========================*/

.sign-up-button{
    @include desktop {
text-align: left;
    }
}


#subscribe {
    background-color: #383B4C;
    ;
    color: white;
    cursor: pointer;
    padding: .5rem 2rem;
    border: 1;
    border-radius: 25px;
    font-family: 'montserrat';
    font-weight: 100;
    font-size: 0.8rem;
    box-shadow: none;
    line-height: 1.2;
    border-width: 0px;
           @include desktop {
         height: 50px;
        width: 162px;
   }
}

#newsLetter-formId {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.8rem;
    flex-direction: column;
    padding-bottom:20px;
}

#sign-up-form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
}

#sign-up {
    background-color: #383B4C;
    color: white;
    cursor: pointer;
    padding: .25rem 2rem;
    border: 1;
    border-radius: 25px;
    font-family: ralewaylight, sans-serif;
    font-size: 0.8rem;
    box-shadow: none;
    line-height: 1.2;
    border-width: 2px;

}

.subscribeForm-for-newsLetter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
        @include desktop {
display:inline-block;
    }
}


.sign-up-email {
    padding-bottom: 10px;
}

.subscribe-to-newsletter{
margin-top:50px;


}
/*=======================
INPUT field
========================*/

#your-email {
    border-radius: 10px 10px 10px 10px;
    background-color: lightgray;
    @include desktop {
         height: 50px;
        width: 252px;
   }

}

::-webkit-input-placeholder {
    color: #383B4C;
    padding: 1rem 1rem;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #383B4C;
    padding: 1rem 1rem;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #383B4C;
    padding: 1rem 1rem;
}

:-ms-input-placeholder {
    color: #383B4C;
    padding: 1rem 1rem;
}