.hero-banner {
    background: url(../../assets/images/hero-banner-temp.jpeg) center no-repeat;
    height: 90vh;
    background-size: cover;
    @include desktop {
        height: 80vh;
    }
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include desktop {
        align-items: stretch;
    }
}

.travel-by {
    height: 40vh;
    background: blue;
}

.ccbc-front {
    flex-direction: column;
    justify-content: space-around;
    div {
        margin-bottom: 2rem;
        p {
            max-width: 250px;
            margin: 0 auto;
        }
    }
}

.ccbc-title {
    margin-bottom: 3rem;
    h2 {
        font-size: 2rem;
    }
}

.ccbc-info {
    @include desktop {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
}

.front-sponsors {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #dee2e6;
}

.fp-sponsors-title {
    h2 {
        font-size: 1.5rem;
    }
}

.fp-sponsors-img {
    width: 100%;
    opacity: .5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.impact-results {
    background: orange;
}

/// ------------ Blog Post Area --------- //////
.blog-posts {
    background: brown;
}

.best-journal-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    @include desktop {

    }
}

.best-journal-content {
    padding: 1rem;
    align-items: center;
    @include desktop {
        display: flex;
        justify-content: space-between;
    }
}

.best-post-thumb {
    flex-basis: 48%;
    max-width: 472px;
    img {
        height: auto;
        margin-top: 2rem;
    @include desktop  {
            width: 640px;
        }
    }
}

.best-post-info {
    flex-direction: column;
    flex-basis: 48%;
}

.best-post-title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

///---------------- Instagram Area ---------- ///
.instagram-grid {
    text-align: center;
}

.wdi_photo_wrap {
    li {
        border: 5px solid black;
    }
}