    .hero-banner {
        background: url(../../assets/images/hero-banner-mobile.png) center no-repeat;
        background-size: cover;
        height: 50vh;
        @include desktop {
            height: calc(100vh - 144px);
            background: url(../../assets/images/hero-curve.png) top no-repeat, url(../../assets/images/hero-banner.png) top no-repeat;
            background-size: cover, cover;
            display: flex;
            /*justify-content: flex-start;
        align-items: flex-start;*/
        }
    }
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include desktop {
            align-items: stretch;
        }
    }
    
    .travel-by {
        display: none;
        @include desktop {
            width: 1140px;
            padding-left: 15px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            margin-top: 4rem;
            color: #fff;
            span {
                border-right: .05em solid;
                animation: caret 1s steps(1) infinite;
            }
            @keyframes caret {
                50% {
                    border-color: transparent;
                }
            }
            .green-buttons {
                padding: 0;
                /*margin: 0 auto;*/
            }
            .button1 a {
                border: 1px solid #fff;
                background-color: transparent;
                color: #fff;
                cursor: pointer;
                text-align: center;
                border-radius: 25px;
                font-family: 'montserrat', sans-serif;
                font-size: 1.2rem;
                box-shadow: none;
                line-height: 1.7;
                border-width: 3px;
                text-shadow: none;
                width: 100%;
                text-decoration: none;
                text-transform: uppercase;
                padding-bottom: 5px;
                height: 50px;
                padding: .5rem 2.3rem;
            }
            .button1 a:hover {
                background: #303b46;
                ;
                color: #a6ce39;
            }
            .button2 a {
                border: 1px solid #fff;
                background-color: transparent;
                color: #fff;
                cursor: pointer;
                text-align: center;
                border-radius: 25px;
                font-family: 'montserrat', sans-serif;
                font-size: 1.2rem;
                box-shadow: none;
                line-height: 1.7;
                border-width: 3px;
                text-shadow: none;
                width: 100%;
                text-decoration: none;
                padding-bottom: 5px;
                padding-right: 5%;
                text-transform: uppercase;
                height: 50px;
                padding: .5rem 2.3rem;
            }
            .button2 a:hover {
                background: #303b46;
                color: #a6ce39;
            }
            h3 {
                font-size: 3.5rem;
                margin: 0;
            }
            p {
                font-size: 1.8rem;
                margin: 33px 0 54px 0;
                font-weight: normal;
            }
            form {
                justify-content: flex-start;
            }
        }
    }
    
    .travel-by-mobile {
        text-align: center;
        background: $light-grey-background;
        .travel-by-content {
            width: 96%;
            margin: 0 auto;
            padding-top: 35px;
            h3 {
                font-size: 3rem;
                margin: 0;
                color: $black-text;
            }
            p {
                font-size: 28px;
                font-weight: 300;
            }
        }
        .green-buttons {
            justify-content: space-between;
            .button1 {
                padding-right: 1%;
            }
        }
        form {
            justify-content: center;
        }
    }
    
    .ccbc-front {
        flex-direction: column;
        justify-content: space-around;
        p {
            @include desktop {
                max-width: 250px;
                margin: 0 auto;
            }
        }
        div:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
    
    .ccbc-title {
        h2 {
            display: none;
        }
        @include desktop {
            margin: 70px auto;
            width: 50%;
            h2 {
                display: initial;
                font-size: 36px;
            }
        }
    }
    
    .ccbc-info {
        .info-content {
            width: 90%;
            margin: 35px auto 0 auto;
            .black-line {
                width: 250px;
                margin: 0 auto;
                border-bottom: 3px solid $dark-text;
                @include desktop {
                    display: none;
                }
            }
            h3 {
                font-size: 35px;
                font-weight: normal;
                @include desktop {
                    font-size: 18px;
                    width: 177px;
                    margin: 20px auto;
                }
            }
            p {
                font-size: 25px;
                font-weight: 300;
                color: $black-text;
                @include desktop {
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }
        @include desktop {
            display: flex;
            justify-content: space-around;
            align-items: baseline;
        }
    }
    
    //////----------- Impact Results -------------////
    .impact-results {
        display: flex;
        text-align: center;
        justify-content: space-around;
        flex-direction: column;
        margin: 3rem 10%;
        @include desktop {
            flex-direction: row;
            padding: 5%;
            margin: 0 auto;
        }
    }
    
    .canada-map {
        flex-basis: 48%;
        .bcbutton {
            border-right: 3px solid $dark-text;
            padding-right: 10px;
        }
    }
    
    .map-buttons {
        padding: 30px 0;
        a {
            font-size: 28px;
            color: $dark-text;
            font-weight: 300;
            &:active {
                font-weight: bold;
            }
            &:hover {
                font-weight: bold;
            }
        }
    }
    
    // Impact Results Box 
    .fp-impact-results {
        color: $dark-text;
        flex-basis: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .impact-box {
        border: 2px solid $dark-text;
        padding: 1rem;
        width: 450px;
        height: 391px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h2 {
            margin: 0;
            font-size: 28px;
            text-transform: uppercase;
            @include desktop {
                font-size: 30px;
            }
        }
        h3 {
            margin: 0;
            font-size: 30px;
            font-weight: 300;
            span {
                font-weight: bold;
            }
        }
        .total,
        .work-avg {
            h4 {
                margin: 0;
                font-size: 30px;
                font-weight: bold;
            }
            p {
                margin: 0;
                font-size: 18px;
                font-weight: 300;
            }
        }
        .dark-button input[type=button] {
            @include dark-button;
            &:focus {
                outline: none;
            }
        }
    }
    
    .bc-results-info,
    .canada-results-info {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        font-weight: bold;
    }
    
    /// ------------ Blog Post Area --------- //////
    .blog-posts {
        background-image: none;
        background-color: #fff;
    }
    
    @media (min-width: 600px) {
        .blog-posts {
            background: url(../../assets/images/greycurve.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            justify-content: center;
            max-width: 100%;
            min-height: 499px;
        }
    }
    
    .best-journal-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    
    @media (min-width: 600px) {
        .best-journal-container {
            display: flex;
            justify-content: space-between;
            padding-top: 5%;
        }
    }
    
    .best-journal-content {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    @media (min-width: 600px) {
        .best-journal-content {
            display: flex;
            justify-content: space-between;
            padding-top: 1.5rem;
            flex-direction: row;
        }
    }
    
    .best-post-thumb {
        flex-basis: 48%;
        text-align: center;
        width: 472px;
        height: 316px;
        img {
            width: 90%;
            height: auto;
            outline: 2px solid #fff;
            outline-offset: -20px;
        }
        h3 {
            font-size: 28px;
            text-transform: uppercase;
        }
    }
    
    @media (min-width: 600px) {
        .best-post-thumb img {
            width: 472px;
            height: 316px;
        }
    }
    
    @media (min-width: 600px) {
        .best-post-thumb h3 {
            font-size: 30px;
        }
    }
    
    .best-post-info {
        width: 90%;
        flex-direction: column;
        flex-basis: 48%;
        padding-top: 15%;
        p {
            color: #303b46;
            font-weight: 300;
            text-align: left;
            font-size: 25px;
        }
        .read-more {
            visibility: hidden;
        }
        h3 {
            font-size: 32px;
            text-transform: uppercase;
            color: #fff;
        }
    }
    
    @media (min-width: 600px) {
        .best-post-info {
            flex-direction: column;
            height: 316px;
            padding-top: 0;
        }
    }
    
    @media (min-width: 600px) {
        .best-post-info p {
            color: #fff;
            font-size: 18px;
            margin-top: 0;
        }
    }
    
    .best-post-title {
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 0 1rem;
        text-align: center;
    }
    
    @media (min-width: 600px) {
        .best-post-title {
            text-align: left;
            padding: 0;
            font-size: 1.5rem;
        }
    }
    
    .green-read {
        background: url(../../assets/images/green-read-story.png) no-repeat;
        background-size: 100%;
        height: 57px;
        margin-top: -75px;
        a {
            display: flex;
            color: #303b46;
            font-size: 18px;
            padding: .5rem 0 0 3rem;
            cursor: pointer;
        }
    }
    
    @media (min-width: 600px) {
        .green-read a {
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            height: 57px;
            a {
                display: flex;
                color: #303b46;
                font-size: 18px;
                padding: .5rem 0 0 3rem;
                cursor: pointer;
            }
        }
    }
    
    .read-green {
        display: block;
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: none;
        padding-bottom: 10rem;
    }
    
    ///---------------- Instagram Area ---------- ///
    .instagram-grid {
        text-align: center;
        h2 {
            font-size: 30px;
        }
    }
    
    .wdi_photo_wrap {
        li {
            border: 5px solid black;
        }
    }
    
    .challenge {
        h3 {
            text-align: center;
        }
    }
    
    .challenge {
        height: 30vh;
        color: #303b46;
        h3 {
            font-size: 1.5rem;
            font-weight: 700;
            max-width: 80vw;
            margin: 0 auto;
        }
        .challenge-info {
            display: flex;
            flex-direction: column;
            text-align: center;
            @include desktop {
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            h4 {
                font-size: 2rem;
                margin-right: 5vw;
            }
        }
        input[type=button] {
            @include dark-button;
            font-size: 1.5rem;
            display: inline-block;
            &:focus {
                outline: none;
            }
        }
    }