//Styles that are reused throughout the whole website 

.title-wrapper {
        margin: 0;
        margin-top: 30px;
        height: 200px;
		text-align: center;
        @include desktop {
            margin-top: 68px;
        }
		h1 {
			font-size: 40px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
            margin: 0;
			@include desktop {
				font-size: 55px;
			}
		}
		p {
			font-size: 18px;
			font-weight: 300;
            @include desktop {
				font-size: 20px;
			}
		}
}

.page-description {
	 	width: 90%;
		margin: 35px auto 49px auto;
		font-size: 18px;
		font-weight: 300;
		text-align: center;
		color: $dark-text;
        @include desktop {
			margin: 67px auto;
			font-size: 20px;
            width: 70%;
        }
}

/* hide mobile version by default */

.logo .mobile {
    display: none;
}
/* when screen is less than 600px wide
show mobile version and hide desktop */

@media (max-width: 600px) {
    .logo .mobile {
        display: block;
    }
    .logo .desktop {
        display: none;
    }
}

#go-green-button {
    color: #000;
    border: 3px solid #000;
    background-color: transparent;
    cursor: pointer;
    padding: .5rem 2rem;
    border-radius: 25px;
    font-family: "montserrat", sans-serif;
    font-size: 1rem;
    box-shadow: none;
    line-height: 1.7;
    text-shadow: none;
    width: 200px;
    text-decoration: none;
}