//Styles that are reused throughout the whole website 

.title-wrapper {
        margin: 0;
        margin-top: 64px;
        height: 200px;
		text-align: center;
        @include desktop {
            margin-top: 68px;
        }
		h1 {
			font-size: 45px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
            margin: 0;
			@include desktop {
				font-size: 55px;
			}
		}
		p {
			font-size: 18px;
			font-weight: 300;
            @include desktop {
				font-size: 20px;
			}
		}
}

.page-description {
	 	width: 90%;
		margin: 35px auto 49px auto;
		font-size: 18px;
		font-weight: 300;
		text-align: center;
		color: $dark-text;
        @include desktop {
			margin: 67px auto;
			font-size: 20px;
            width: 70%;
        }
}
