/*=======================
this is the css for the special template that will add and remove one of two buttons depending on the 
users choice
========================*/

.green-banner {
    background: $best-green;
    padding: 0;
    height: 225px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    @include desktop {
    padding-bottom: 20px;
    }
}

.green-banner-data {
    text-align: center;
 }

.green-banner-data p:first-child {
    text-transform: uppercase;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 0;
    padding-top: 50px;
    width:100%;
       @include desktop {
            font-size: 36px;
            padding-top: 30px;
            
    }
}

.green-banner-data p {
    font-family: 'montserrat', sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 25px;
          @include desktop {
        text-align:left;
            }
   }


.button2 {
    visibility: visible;
}

.green-banner-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    @include desktop {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}

.green-buttons {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        @include desktop {
        margin-bottom: 0px;
        margin-top: 0px;
        padding-left:20px;
    }
}

.button1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items:center;
    padding-right:5%;
}

.button2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items:center;
}


.button1 a{
    border:1px solid #303b46;
    background-color: transparent;
    color: #303b46;
    cursor: pointer;
    text-align: center;
    padding:  .5rem;
    border-radius: 25px;
    font-family: 'montserrat', sans-serif;
    font-size: 1rem;
    box-shadow: none;
    line-height: 1.7;
    border-width: 3px;
    text-shadow: none;
    width:180px;
    text-decoration:none;
       padding-bottom: 5px;
    
        @include desktop {
            width: 162px;
                height: 50px;
        padding: .5rem 2.3rem;

}
}
.button1 a:hover{
    background: #303b46;;
    color:#a6ce39;

}

.button2 a{
    border:1px solid #303b46;
    background-color: transparent;
    color: #303b46;
    cursor: pointer;
    text-align: center;
    padding:  .5rem;
    border-radius: 25px;
    font-family: 'montserrat', sans-serif;
    font-size: 1rem;
    box-shadow: none;
    line-height: 1.7;
    border-width: 3px;
    text-shadow: none;
    width:180px;
    text-decoration:none;
       padding-bottom: 5px;
    padding-right: 5%;
        @include desktop {
            width: 162px;
            height: 50px;
            padding: .5rem 2.3rem;
    }
}

.button2 a:hover{
background: #303b46;
color:#a6ce39;
}

form{
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}