/*=======================
this is the css for the special template that will add and remove one of two buttons depending on the 
users choice
========================*/

.green-banner {
  
    background: #a6ce39;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    
}

.green-banner-data {
    text-align: center;
}

.green-banner-data p:first-child {
  
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 0;
    padding-top: 30px;
    
}

.green-banner-data p {
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 25px;
}

#go-green-button {
    background-color: transparent;
    color: black;
    cursor: pointer;
    padding: .25rem 2rem;
    border: 1;
    border-radius: 25px;
    font-family: 'montserrat', sans-serif;
    font-size: 1rem;
    box-shadow: none;
    line-height: 1.7;
    border-width: 3px;
    border-color: black;
    text-shadow: none;
    @include desktop {
        width: 200px;
    }
}

.button2 {
    visibility: visible;
}

.green-banner-flex {
    display: flex;
    flex-direction: column;
}

.green-buttons {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button1 {
    padding-bottom: 5px;
    padding-right: 5%;
}