            /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
            
            .site-header {
                background: #303B46;
                height: 10vh;
                @include desktop {
                    height: 144px;
                    padding: 0 5px;
                }
            }
            
            .best-header {
                display: flex;
                height: inherit;
                position: relative;
                flex-wrap: wrap;
                @include desktop {
                    flex-wrap: nowrap;
                }
            }
            
            .logo-date {
                height: inherit;
                display: flex;
                width: 100%;
                align-items: center;
                margin-left: 5px;
                justify-content: space-between;
                padding: 0 1vw;
                @include desktop {
                    padding: 0;
                    align-items: flex-start;
                    margin-top: 2vh;
                    .menu-icon {
                        display: none;
                    }
                }
                .mobile-logo {
                    max-width: 25vw;
                }
                .event-date {
                    color: white;
                    h2 {
                        font-size: 1.5rem;
                    }
                    @include desktop {
                        h2 {
                            font-size: 2rem;
                            margin-top: 0;
                        }
                    }
                }
                .logo-header {
                    padding-top: 1vh;
                    img {
                        height: 40px;
                        width: 22vw;
                        @include desktop {
                            height: 40px;
                            width: 276px;
                        }
                    }
                }
            }
            
            // Main Menu //
            .header-nav {
                width: 100%;
                @include desktop {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: auto;
                }
            }
            
            #primary-menu {
                display: none;
                width: 100%;
                flex-direction: column;
                background: #5a6f83;
                align-items: flex-start;
                justify-content: space-around;
                text-transform: uppercase;
                @include desktop {
                    display: flex;
                    flex-direction: row;
                }
            }
            
            .menu-item {
                bottom: 0;
                a {
                    font-size: 2rem;
                    color: #fff;
                    padding-left: 2vw;
                    font-weight: 700;
                    letter-spacing: 1px;
                    @include desktop {
                        font-size: 1.5rem;
                        font-weight: 400;
                    }
                }
                ul li:hover ul {
                    display: block;
                }
            }
            
            .menu-item:hover {
                background-color: #5a6f83;
                border-top-left-radius: 18.5px;
                border-top-right-radius: 18.5px;
            }
            
            // shows sub menu items
            // #primary-menu ul li:focus>ul {
            //     display: block
            // }
            @include desktop {
                #primary-menu {
                    height: auto;
                    background: none;
                    align-items: left;
                    justify-content: flex-end;
                    text-transform: none;
                }
                #primary-menu li:hover>ul {
                    display: flex!important;
                    background: #5a6f83;
                    margin-top: 10%;
                }
                .menu-item {
                    width: 120px;
                    height: 36px;
                    bottom: 0;
                    margin: 0 1rem;
                    a {
                        padding-top: 7px;
                        font-size: 1.1rem;
                        color: #fff;
                        padding-left: 0;
                    }
                }
                .menu-item:hover {
                    background-color: #5a6f83;
                    border-top-left-radius: 18.5px;
                    border-top-right-radius: 18.5px;
                }
                .menu-item-51,
                .menu-item-51:hover {
                    margin-left: 5px;
                    width: 189px;
                    height: 36px;
                    border-radius: 18.5px;
                    background-color: #a6ce39;
                    a {
                        color: #303b46;
                    }
                }
                .main-navigation ul ul a {
                    width: 100%;
                    padding: 0.75rem;
                }
            }
            
            .sub-menu {
                width: 150%;
                display: flex;
                flex-flow: column;
                .menu-item:hover {
                    background-color: #5a6f83;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
                .menu-item a {
                    width: 150%;
                    font-size: 1rem;
                    text-align: left;
                }
            }
            
            .stickyBar {
                width: 100%;
                position: relative;
                @include desktop
            }
            
            .stickyIsFixed {
                position: fixed;
                z-index: 9999;
                top: 0;
                left: 0;
                @include desktop {
                    position: relative;
                }
            }
            
            .lines a {
                font-size: 2rem;
                color: #fff;
            }
            
            .navi-menu {
                overflow: visible;
            }