    /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
    
    .site-header {
        background: #303B46;
        height: 200px;
    }
    
    .best-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo-date {
        display: flex;
        align-items: center;
    }
    
    .logo {
        display: flex;
    }
    
    .event-date {
        display: flex;
        color: white;
    }
    
    .logo img {
        height: 40px;
        width: 200px;
        margin-right: 5px;
    }