.page-id-113 {

.page-heading {
    margin-bottom: 1rem;
}

.picture-wrapper-results {
    display: flex;
    background: url('../../assets/images/results-header-mobile.png')center no-repeat;
    background-size: cover;
    height: 30vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 4px;
    flex-direction: column;
    @include desktop {
        background: url('../../assets/images/results-header.png') center no-repeat;
        background-size: cover;
    }
}

.picture-wrapper-results h1 {
    line-height: 3.5rem;
    color: white;
    font-size: 3rem;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'montserrat';
}

.picture-wrapper-results p {
    color: white;
    font-family: 'montserrat';
    font-weight: 300;
    margin-top: 0;
    text-align: center;
}

.impact-results-info {
    text-align: center;
    height: 10vh;
    padding: 1rem 0;
    p {
        max-width: 60vw;
        margin: 0 auto;
    }
}

.impact-results-area {
    position: relative;
    div {
        height: 50vh;

        @include desktop {
            height: 40vh
        }
    }
    ////// The line through the middle of the divs ////
    div:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 50%;
        border-left: 5px solid #fff;
    }
}

.ir-co2 {
    background: url('../../assets/images/ir-lightgrey-curve-top.png')center no-repeat;
}

.ir-km {
    background: url('../../assets/images/ir-grey-curve-top.png')center no-repeat;
}

.ir-register {
    background: url('../../assets/images/ir-dark-concave.png')center no-repeat;
}

.ir-calories {
    background: url('../../assets/images/ir-grey-curve-bottom.png')center no-repeat;
}

.ir-fuel {
    background: url('../../assets/images/ir-lightgrey-curve-bottom.png')center no-repeat;
}

.ir-numbers {
    background: purple;
    height: 40vh;
}



}