.page-template-page-results {
    .page-heading {
        margin-bottom: 1rem;
    }
    .picture-wrapper-results {
        background: url('../../assets/images/backgrounds/impact-header-mobile.png');
        @include heading-backgrounds;
        @include desktop {
            background: url('../../assets/images/backgrounds/impact-header.png');
            @include heading-backgrounds;
        }
    }
    
    .impact-results-info {
        text-align: center;
        height: 10vh;
        padding: 1rem 0;
        p {
            max-width: 60vw;
            margin: 0 auto;
        }
    }
    .impact-results-area {
        position: relative;
        // //// The line through the middle of the divs ////
        // div:after {
        //     content: "";
        //     position: absolute;
        //     z-index: 0;
        //     top: 0;
        //     bottom: 0;
        //     left: 50%;
        //     border-left: 5px solid #fff;
        // }
        p {
            font-weight: 300;
            font-size: 1rem;
            max-width: 24vw;
            @media (min-width: 600px) {
                font-size: 1.2rem;
                line-height: 1.2;
            }
            @media (min-width: 1200px) {
                line-height: 1.5;
                font-size: 1.5rem;
            }
            span {
                display: block;
                font-size: 2rem;
                font-weight: 700;
                @include desktop {
                    font-size: 2.5rem;
                }
            }
        }
    }
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }
    .ir-co2 {
        background: url('../../assets/images/ir-lightgrey-curve-top.png') top no-repeat;
        background-size: cover;
        height: 40vh;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include desktop {
            padding-bottom: 5vh;
        }
        div {
            height: 25vh;
            min-width: 20vw;
            p {
                max-width: 25vw;
                padding-bottom: 2vw;
                color: #303b46;
            }
        }
        .ir-co2-image {
            position: absolute;
            background: url('../../assets/images/circle-co2.png') center no-repeat;
            background-size: contain;
            z-index: 1;
            bottom: 20%;
        }
    }
    .ir-km {
        background: url('../../assets/images/ir-grey-curve-top.png') top no-repeat;
        background-size: cover;
        height: 50vh;
        margin-top: -9vh;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include desktop {
            margin-top: -11vh;
        }
        div {
            height: 25vh;
            min-width: 20vw;
            p {
                padding-bottom: 2vw;
                color: #fbfcfc;
            }
        }
        .ir-km-image {
            position: absolute;
            background: url('../../assets/images/circle-distance.png') center no-repeat;
            background-size: contain;
            z-index: 1;
            bottom: 20%;
        }
    }
    .ir-register {
        background: url('../../assets/images/ir-dark-concave.png')top no-repeat;
        background-size: cover;
        height: 60vh;
        margin-top: -9vh;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 5vh;
        @include desktop {
            margin-top: -11vh;
        }
        div {
            height: 25vh;
            min-width: 20vw;
            p {
                max-width: 25vw;
                padding-bottom: 2vw;
                color: $best-green;
            }
        }
        .ir-register-image {
            position: absolute;
            background: url('../../assets/images/circle-participants.png') center no-repeat;
            background-size: contain;
            z-index: 1;
            bottom: 30%;
        }
    }
    .ir-calories {
        background: url('../../assets/images/ir-grey-curve-bottom.png')top no-repeat;
        background-size: cover;
        height: 50vh;
        margin-top: -9vh;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 11vh;
        @media (min-width: 600px) {
            margin-top: -11vh;
            padding-bottom: 16vh;
        }
        @media (min-width: 800px) {
            margin-top: -11vh;
            padding-bottom: 11vh;
        }
        div {
            height: 25vh;
            min-width: 20vw;
            p {
                max-width: 24vw;
                padding-bottom: 2vw;
                color: #dee2e6;
            }
        }
        .ir-calories-image {
            position: absolute;
            background: url('../../assets/images/circle-carbs.png') center no-repeat;
            background-size: contain;
            z-index: 1;
            bottom: 36%;
        }
    }
    .ir-fuel {
        background: url('../../assets/images/ir-lightgrey-curve-bottom.png')top no-repeat;
        background-size: cover;
        height: 53vh;
        margin-top: -9vh;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 10vh;
        @include desktop {
            margin-top: -11vh;
            padding-bottom: 11vh;
        }
        div {
            height: 25vh;
            min-width: 20vw;
            p {
                max-width: 25vw;
                padding-bottom: 2vw;
                @include desktop {
                    max-width: 19vw;
                }
            }
        }
        .ir-fuel-image {
            position: absolute;
            background: url('../../assets/images/circle-station.png') center no-repeat;
            background-size: contain;
            z-index: 1;
            bottom: 36%;
        }
    }
    .ir-co2:after,
    .ir-km:after,
    .ir-register:after,
    .ir-calories:after,
    .ir-fuel:after {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        bottom: 0;
        left: 50%;
        border-left: 7px solid #fff;
    }
}

.ir-numbers {
    height: 35vh;
    text-align: center;
    @include desktop {
        height: 45vh;
    }
}

.ir-numbers-title {
    margin-top: -8vh;
    @include desktop {
        margin-top: -4vh;
    }
    h3 {
        font-size: 1.2rem;
        margin-bottom: 0;
        @include desktop {
            font-size: 2rem;
        }
    }
    p {
        margin-top: 0;
    }
}

.ir-numbers-info {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0 auto;
    line-height: 2;
    max-width: 80%;
    color: #5a6f83;
    @include desktop {
        max-width: 100%;
    }
    div {
        display: flex;
        flex-direction: column;
    }
    .ir-numbers-stats {
        align-items: baseline;
        span:first-child {
            display: none;
        }
        span {
            font-size: .85rem;
            font-weight: 500;
            height: 2rem;
            @include desktop {
                font-size: 1.4rem;
                font-weight: 500;
                height: 3.8rem;
            }
        }
    }
    .ir-numbers-location {
        flex-direction: row;
        justify-content: space-around;
        div {
            span:first-child {
                font-size: .85rem;
                font-weight: 500;
                @include desktop {
                    font-size: 1.4rem;
                    font-weight: 500;
                }
            }
            span {
                font-size: 1rem;
                font-weight: bold;
                text-align: left;
                @include desktop {
                    font-size: 2rem;
                }
            }
        }
    }
    .ir-numbers-bc {
        margin-right: 2rem;
    }
}