// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin desktop {
	@media (min-width: 600px) {
		@content;
	}
}

@mixin heading-backgrounds{
	  	background-repeat: no-repeat;
		background-size: 100% 100%;	
		justify-content: center;
		max-width: 100%;
		height: 255px;
		color: white;
		display: flex;
		@include desktop {
			background-position: center;
			height: 300px;
		}
}

/*Used in participants and prizes*/
@mixin section-heading {
		font-weight: bold;
		text-transform: uppercase;
		width: 100%;
		text-align: center;
	 	h1 {
            font-size: 2.62rem;
            text-align: center;
            width: 100%;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
        }
		
        p {
            font-size: 1.1rem;
            font-weight: 300;
        }
}

@mixin dark-button {
	cursor: pointer;
    padding: .25rem 2rem;
	color: $light-text;
	background-color: $dark-background;
	line-height: 1.7;
	width: 200px;
	border-radius: 25px;
	font-size: 18px;
	font-weight: normal;
	text-shadow: none;
	box-shadow:none;
	border: 1px solid $dark-background;
	&:hover {
		color: $best-green;
	}
}

@mixin background-image {
	background-repeat: no-repeat;
	background-size: cover;	
	background-position: center;
	justify-content: center;
	max-width: 100%;
}

//used for Load More link  
@mixin white-load-more{
	font-size: 1.5rem;
	text-align: center;
	color: $light-text;
	font-weight: 500;
	cursor: pointer;
	@include desktop {
		font-size: 1.85rem;
	}
	
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			color: $best-green;
		}
	}
}

//Content Width 

@mixin content-wrapper {
	width: 90%;
    margin: 0 auto;
    padding-top: 3%;   
        @include desktop {                
			width: 80%;
         }
}

//Download Link style 
@mixin download-link {
	color: $best-green;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: normal;
	cursor: pointer;
	&:before {
		content: url('../../assets/images/icons/green-arrow.png');
		margin: 10px;
	}
}

@mixin go-green-button {
	border: 3px solid #000;
	background-color: transparent;
	cursor: pointer;
	padding: 5px 0;
	border-radius: 25px;
	font-family: "montserrat", sans-serif;
	font-size: 18px;
	box-shadow: none;
	text-shadow: none;
	width: 180px;
	height: 50px;
	text-decoration: none;
	text-transform: uppercase;
}