// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin desktop {
	@media (min-width: 600px) {
		@content;
	}
}

@mixin section-heading {
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
}

/* used on most of the pages in the header*/
@mixin heading-style {
        h1, h2 {
            font-size: 2.62rem;
            text-align: center;
            width: 100%;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
        }
        p {
            font-size: 1.1rem;
            font-weight: 300;
        }
}
/*Used in participants and prizes*/
@mixin category-title {

}
