    .resources-page-heading {
         background-image: url(../../assets/images/backgrounds/resources-header.png);
         @include heading-backgrounds;

        @include desktop {
            background-image: url(../../assets/images/backgrounds/resources-header-mobile.png);
        }
    }

    .activities-section {
        width: 100%;
        background:url('../../assets/images/light-blue-curved-background.png');
        @include background-image;
    }
    .activities-wrapper {
        width: 80%;
        margin: 0 auto;
        padding-top: 3%;

        h2 {
            @include section-heading;
            font-size: 2.25rem;
            color: white;
        }
        
        .activity-posts {
            padding: 2% 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            @include desktop {
                flex-wrap: wrap;
                justify-content: space-between; 
                flex-direction: row;
            }
            .single-activity-post {
                height: 458.9px;
                box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
                position: relative;
                background-color: white;
                @include desktop {
                    width: 305.3px;
                }
                .activity-image {
                    width: 305.3px;
                    height: auto;
                }
                .activity-title {
                    width: 273.7px;
                    margin: 0 auto;
                    border-bottom: 2px solid $best-green;
                    h3 {
                        font-size: 1.25rem;
                        text-align: center;
                        color: $black-text;
                        font-weight: 300;
                        margin: 0;
                        padding: 5px 0;
                        
                    }
                }
                .activity-description {
                   width: 257px;
                   text-align: left;
                   margin: 0 auto;
                   p {
                       font-size: 1.13;
                       font-weight: 300;
                       margin: 0;
                   }
                   a {
                       color: $best-green;
                       text-decoration: none;
                       font-size: 1.7rem;
                       font-weight: 300;
                       position: absolute;
                       bottom: 10px;
                       left: 10px;
                       &:before {
                           content: url('../../assets/images/icons/green-arrow.png');
                           margin: 10px;
                       }
                   }
                }
            }           
        }       
    }
    .load-more {
        @include white-load-more;
        padding: 1%;
    }
