    .resources-page-heading {
         background-image: url(../../assets/images/backgrounds/resources-header.png);
         @include heading-backgrounds;

        @include desktop {
            background-image: url(../../assets/images/backgrounds/resources-header-mobile.png);
        }
    }

    .activities-section {
        width: 100%;
        background-image:url('../../assets/images/light-blue-curved-background.png');
        @include background-image;
    }
    .tax-activity_type {
        .activities-section {
            margin: 5% 0;
            background-image: none;
        }
    }
    .activities-wrapper {
        @include content-wrapper;
        text-align: center;

        h2 {
            @include section-heading;
            width: 100%;
            font-size: 30px;
            color: white;
            @include desktop {
                font-size: 40px;
            }
        }
        
        .activity-posts {
            padding: 2% 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            @include desktop {
                flex-wrap: wrap;
                justify-content: space-between; 
                flex-direction: row;
            }
            .single-activity-post {
                margin: 1%;
                height: 458.9px;
                width: 310.8px;
                box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
                position: relative;
                background-color: white;
                @include desktop {
                    width: 305.3px;
                    margin: 0;
                }
                .activity-image {
                    width: 310.8px;
                    height: auto;
                    @include desktop {
                        width: 305.2px;
                    }
                }
                .activity-title {
                    width: 273.7px;
                    margin: 0 auto;
                    border-bottom: 2px solid $best-green;
                    h3 {
                        font-size: 18px;
                        text-align: center;
                        color: $black-text;
                        font-weight: normal;
                        margin: 0;
                        padding: 5px 0;
                        
                    }
                }
                .activity-description {
                   width: 257px;
                   text-align: left;
                   margin: 0 auto;
                   p {
                       font-size: 1.13;
                       font-weight: 300;
                       margin: 0;
                   }
                   a {
                       @include download-link;
                       position: absolute;
	                   bottom: 10px;
	                   left: 10px;
                   }
                }
            }           
        }       
    }
    .load-more {
        @include white-load-more;
        padding: 1%;
    }

    /*Download resources categories */

    .downloads {
        margin: 10% 0;
        @include desktop{
            margin: 5% 0;
        }
        h2 {
            @include section-heading;
            width: 100%;
            font-size: 25px;
            color: $dark-text;
            margin-bottom: 5%;
            @include desktop {
                font-size: 35px;
            }
        }
    }
    .download-categories{
    width: 90%;
    margin: 37px auto;
    color: $dark-text;
        @include desktop {
            width: 76%;
        }
    .category-titles {
        border-bottom: 1px solid $best-green;
        height: 63px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        .download-name {
            display: inherit;
            a {
                text-decoration: none;
            }
            h2 {
                padding-left: 10px;
                margin: auto 0;
                text-transform: capitalize;
                font-size: 25px;
                font-weight: 300;
                @include desktop {
                    font-size: 35px;
                }
            }
        }
        .arrow {
            margin: auto 0;
            font-family: FontAwesome;
            color: $best-green;
            font-size: 1.8rem;
            padding-right: 10px;
            .arrow-link {
                color: $best-green;
                text-decoration: none;
            }
        }

    }
    }

.download-wrapper {
    @include content-wrapper;
    h3 {
        margin-top: 40px;
        font-size: 28px;
        font-weight: bold;
        color: $black-text;
        text-transform: uppercase;
    }   
    .results {
        margin: 50px 0 50px 30px;
        display: flex;
        flex-direction: column;
        @include desktop {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    .download-post {
        width: 265px;
        height: 368px;
        margin-right: 23px;
        background-color: $light-grey-background;
        display: flex;
        flex-direction: column;
        .taxonomy-image {
            align-self: center;
            margin-top: 23px;
            width: 217px;
            height: 229px;
            img {
                width: 217px;
                height: 229px;
                /*object-fit: fill;*/
            }
        }
        .taxonomy-title {
            align-self: center;
            width: 217px;
            text-align: center;
            h3 {
                color: $black-text;
                font-size: 18px;
                font-weight: normal;
                text-transform: uppercase;
                margin: 0;
                margin-top: 10px;
            }
        }
        .taxonomy-description {
            align-self: center;
            a {
                @include download-link;
                color: $black-text;
                font-size: 16px;
                margin: 0;
                margin-top: 10px;
                &:before {
                    content: url('../../assets/images/icons/black-arrow-down.png');
                    margin-right: 5px;
                }
            }
        }
    }

    
}
