.page-id-61{

    .page-heading {
        background-image: url(../../assets/images/gift-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;	
        background-position: center;
        justify-content: center;
        max-width: 100%;
        height: 300px;
        color: white;
        display: flex;
        @include desktop {
            background-image: url(../../assets/images/gift.png);
        }
        
       
        h1, h2 {
        font-size: 2.62rem;
        text-align: center;
        width: 100%;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        }
        p {
            font-size: 1.1rem;
            font-weight: 300;
        }
    }
    .title-wrapper {
        line-height: 0.5;
        margin-top: 5%;
    }
    .prize-wrapper {
        width: 80%;
        height: auto;
        margin: 5% auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
            @include desktop {
            flex-wrap: wrap;
            flex-direction: row;
            }

            .prize-image {
                /*position: relative;*/
                img {
                    width: 100%;
                }
            }
        
            h2 {
                width: 100%;
                text-align: center;
            }
            .single-prize {
                margin-top: 5%;
                width: 230px;
                border: 1px solid white;
                position: relative;
                @include desktop {
                    width: 25%;
                }
            }
        .prize-title {
            width: 230px;
            height: 115px;
            background-image: url(../../assets/images/overlay.png);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            opacity: 0.85;
            bottom: 38%; 
            h3 {
                width: 171px;
                font-size: 1rem;
                position: relative;
                bottom: 0;
                top: 50px;
                left: 10px;
                color: $light-text;
            }       
        }
        .prize-description {
            background-color: grey;
            bottom: 43px;
            display: none;
            position: absolute;
            height: 230px;
            width: 230px;
            z-index: 1;
            top: 0%;
        }
    }

}