

.picture-wrapper{
    display:flex;
    background:grey;
    height:200px;
    align-items:center;
    border-bottom-left-radius: 30rem;
    border-bottom-right-radius: 30rem;
    justify-content:center;
    padding-bottom:20px;
   
}

.picture-wrapper h1{
   line-height:3.5rem;
    color:white;
    font-size:55px;
    width:60%;
    text-align:center;
    text-transform:uppercase;

    }

.challenge-benefit-blocks{

      display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    flex-direction:column;
    align-items:center;
    padding-top:20px;
}


.single-benefit-block{
   
    -webkit-flex: 0 1 33%;
    -ms-flex: 0 1 33%;
    flex: 0 1 33%;
    max-width: 33%;
    padding: .75rem;
   

}

.single-benefit-block i{
    font-size:30px;
    color:black;
}

.how-to-participate-wrapper{

    background:#383B4C;
    padding-top:50px;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
}



.how-to-participate-wrapper h2{
    text-transform:uppercase;
    color:white;
    text-align:center;
}

.how-to-participate-wrapper h3{
    
    color:white;
    text-align:center;
}


.how-to-participate-wrapper p{
    
    color:white;
    text-align:center;
}

.challenge-participate-blocks{
   display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    flex-wrap:wrap;
    align-items:center;
    padding-top:20px;

}

.single-participate-block{
 -webkit-flex: 0 1 49%;
    -ms-flex: 0 1 49%;
    flex: 0 1 49%;
    max-width: 49%;
    padding: .75rem;

}
.single-participate-block i{
    color:white;
    font-size:32px;
}

.subscribeForm{
display:flex;
justify-content:center;
}

.signUpForm{

    display:flex;
    justify-content:space-around;
    align-items:center;
    
}
#sign-up-form{
justify-content:center;
    display:flex;
    flex-direction:column;
    width:10%;
    align-items:center;
}