
.page-id-34{

.picture-wrapper{
    display:flex;
    background:grey;
    height:200px;
    align-items:center;
    border-radius: 0 200% 250%/0 0 200% 200%;
    justify-content:center;
    padding-bottom:20px;
    margin-bottom: 4px;
    
}

.picture-wrapper h1{
   line-height:3.5rem;
    color:white;
    font-size:44px;
    width:60%;
    text-align:center;
    text-transform:uppercase;

}

.challenge-benefit-blocks{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    flex-direction:column;
    align-items:center;
    padding-top:20px;
}


.single-benefit-block{
    -webkit-flex: 0 1 33%;
    -ms-flex: 0 1 33%;
    flex: 0 1 33%;
    max-width: 33%;
    align-items:center;
}

.single-benefit-block{
    -webkit-flex: 0 1 33%;
    -ms-flex: 0 1 33%;
    flex: 0 1 33%;
    max-width: 33%;
    align-items:center;
   }

.single-benefit-block i{
    font-size:30px;
    color:black;
}

.custom-field-suite{
    display:flex;
    align-items:center;
    flex-direction:column;
}

.how-to-participate-wrapper{
    background:#383B4C;
    padding-top:50px;
    border-radius: 0px 0px 100px 100px;
    -moz-border-radius: 0px 0px 100px 100px;
    -webkit-border-radius: 0px 0px 100px 100px;
    border: 0px solid #000000;
}

.how-to-participate-wrapper h2{
    text-transform:uppercase;
    color:white;
    text-align:center;
}

.how-to-participate-wrapper h3{
    color:white;
    font-size:16px;
    width:60%;
}

.how-to-participate-wrapper p{
    color:white;
    text-align:center;
    font-size:14px;
}

.challenge-participate-blocks{
   display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    flex-wrap:wrap;
    align-items:center;
    padding-top:20px;
    
    }

.single-participate-block{
    -webkit-flex: 0 1 34%;
    -ms-flex: 0 1 34%;
    flex: 0 1 34%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.description-wrapper{
    display:flex;
    width:80%;
    
}

.description-wrapper p{
    margin-top:0rem;
    width:80%;
}

.single-participate-block i{
    color:white;
    font-size:32px;
}

.single-participate-block h3{
   width:80%;
}

.subscribeForm{
    display:flex;
    justify-content:center;
}

.signUpForm{
    display:flex;
    justify-content:space-around;
    align-items:center;
    
}

.font-under-button p{
    font-size:7px;
    margin-top:0;
    
}

.underline-under-button p{
    font-style: italic;
    text-decoration:underline;
    font-size:10px;
    margin-top:0;

}

#sign-up-form{
    justify-content:center;
    display:flex;
    flex-direction:column;
    width:10%;
    align-items:center;
}

.entry-content{
    padding-left:10%;
    padding-right:10%;
    text-align:center;
}

#sign-up {
    background-color: #383B4C;
    color: white;
    cursor: pointer;
    padding: .25rem 2rem;
    border: 1;
    border-radius: 25px;
    font-family: ralewaylight, sans-serif;
    font-size: 0.8rem;
    box-shadow:none;
    line-height: 1.2;
    border-width:2px;;
    }

}

.resources-section{

    background:lightgrey;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    flex-direction:column;
    align-items:center;
    padding-top:20px;

}
.need-resources h2{
text-transform:uppercase;


}

.need-resources img{
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
    width:200px;
}

.need-resources p{
padding-left:10%;
  padding-right:10%;  
}

.need-resources a{

    text-decoration:none;
    color:black
}

.testimonial p{

padding-left:10%;
padding-right:10%;
}

.testimonial-author{

    text-align:center;
}