

.picture-wrapper{
    display:flex;
    background:grey;
    height:200px;
    align-items:center;
    border-bottom-left-radius: 30rem;
    border-bottom-right-radius: 30rem;
    justify-content:center;
   
}

.picture-wrapper h1{
   line-height:3.5rem;
    color:white;
    font-size:55px;
    width:60%;
    text-align:center;
text-transform:uppercase;

    }

