/*=======================
this is the css unique to page-id-94
========================*/


.page-id-94{

.entry-title {
    display: none;
}

.entry-content{
    padding-left:10%;
    padding-right:10%;
    text-align:center;
}

.entry-content p{

    font-family:'montserrat', serif;
    font-weight: 300;
    font-size:20px;
    
}

.picture-wrapper-contact{

    display:flex;
    background:url('../../assets/images/keyboard-header.png')center bottom;
    height:200px;
    align-items:center;
    justify-content:center;
    padding-bottom:20px;
    margin-bottom: 4px;
    flex-direction:column;
    
}

.picture-wrapper-contact h1{
   line-height:3.5rem;
    color:white;
    font-size:60px;
    margin-bottom:0;
    text-align:center;
    text-transform:uppercase;
 font-family:'montserrat';
    
}

.picture-wrapper-contact p{
    color:white;
    font-family:'montserrat';
    font-weight:300;
    margin-top:0;
    font-size:30px;
    
    
}

/*=======================
this is the CONTACT PERSON INFO
========================*/


.contact-person-section{
  
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items:center;
    flex-direction:row;
    justify-content:center;
    background-color: #dee2e6;

}

.contact-person-image{
    padding-top:30px;
    padding-right:35px;
}

.contact-person-data{
    line-height:1.3;
}


.contact-person-data  h2{
    text-transform:uppercase;
    margin-top:0;
    margin-bottom:0;
   font-size:36px;
    font-family:'montserrat';
    font-weight: bold;
    color: #303b46;
}

.contact-person-data  p{
    font-family:'montserrat';
	font-size: 20px;
	font-weight: 300;
    color: #303b46;
    margin-bottom:0;
    margin-top:0;
}

.activities{
    
    background: #5a6f83;
}

 /*=======================
CUSTOM-FIELD-SUITE loop items with three blocks flexed
========================*/









.custom-field-suite{
    display:flex;
    align-items:center;
    flex-direction:column;
    
}

.activities h2{

text-transform:uppercase;
font-family: 'montserrat';
font-size: 36px;
color:white;
text-align:center;
padding-top:67px;

}

.activities-wrapper{
   
    padding-top:50px;
    text-align:center;
    background-size: cover;
    
}

.activities-wrapper h2{
    text-transform:uppercase;
    color:white;
    text-align:center;
    font-family: 'montserrat';
    
}

.activities-wrapper h3{
    color:white;
    font-size:16px;
    width:60%;
    font-family: 'montserrat';
}

.activities-wrapper p{
    color:white;
    text-align:center;
    font-size:14px;
      font-family:'montserrat';
    font-weight: 300;
}

.activities-blocks{
   display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
   
    align-items:center;
    padding-top:20px;
    padding-bottom:100px;
   
    
    }

.single-activity-block{
    -webkit-flex: 0 1 33%;
    -ms-flex: 0 1 33%;
    flex: 0 1 33%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.single-activity-block img{
	width: 306px;
	height: 187px;

}

.single-activity-block img:last-child{
	width: 24px;
	height: 23px;
    margin-top:150px;
    
   


}


.description-wrapper{
    display:flex;
    flex-direction:column;
    width:80%;
    justify-content:center;
   align-items:center;
       background-color:white;
    	width: 305.3px;
        height:400px;
	
    }

.description-wrapper p{
    margin-top:0rem;
    font-size: 18.1px;
	font-weight: 300;
    color: #0c0d0c;
    padding-left:5%;
    padding-right:5%;
    height:125px;
    
}

.single-activity-block i{
    color:white;
    font-size:32px;
}

.single-activity-block h3{
   width:80%;
  font-family: 'montserrat';
  color:#0c0d0c
}

.download-area {
display:flex;
flex-direction:row;


}

.download-area p{
    margin-top:138px;
    margin-left:-100px;
    padding-right:10px;
	font-family: 'montserrat';
	font-size: 29.9px;
	font-weight: 300;
    color: #a6ce39;

}



}